extends layout

block content
  h1 Alicia's Demo
  p This skeleton app uses SalesLoft's API!

  p Click the button below to displays a frequency count of all the unique characters in all the email addresses of all the People you have access to, sorted by frequency count (the count below).

  button(onclick='populateTable()') Click this button!

  // USER LIST
  #userList
    h2 List of people records
    table.table.is-bordered.is-striped.is-fullwidth
      thead
        th first_name
        th email_address
        th title
      tbody
   // /USER LIST
