extends layout

block content
  h1.has-text-weight-bold.is-size-1.has-text-centered Using the SalesLoft API
  p.has-text-centered By Alicia Barrett

  // USER LIST
  #userList
    h2 Level 1: Show a list of People records available via the API.  Display each Person’s name, email address, and job title.
    table.table.is-bordered.is-striped.is-fullwidth
      thead
        th first_name
        th email_address
        th job_title
      tbody
   // /USER LIST

  // CHARACTER FREQUENCY
  h2 Level 2: Create a button that, when clicked, displays a frequency count of all the unique characters in all the email addresses of all the People you have access to, sorted by frequency count (the count below).

  button(onclick='findCharacterFrequency()').button.is-success.is-large Show me!
  .hidden
    #characterFrequency
      table.table.is-bordered.is-striped.is-fullwidth
        thead
          th character
          th count
        tbody
   // /CHARACTER FREQUENCY

  // POTENTIAL DUPLICATES
  h2 Level 3:  Create a 2nd button that would show us a list of suggested possible duplicate People. A human can tell that “benoliv@salesloft.com” and “benolive@salesloft.com” are very likely the same person with just one of the email addresses having a typo. A computer can check for duplicates if two strings are one edit away.

  button(onclick='compareEmails()').button.is-success.is-large Find those duplicates!

  #duplicates
    p

  // / POTENTIAL DUPLICATES