extends layout

block content
  h1 Alicia's Demo
  p This skeleton app uses SalesLoft's API!

  p.
    If you take a look at #[a(target="_blank", href="http://localhost:3000/people/peoplelist") this page],
    you'll see several records of people.