
html {
  margin: 5%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  margin:0 0 .5em 0;
}

#userList {
  width: 40%;
  display: inline-block;
}

#characterFrequency {
  width:25%;
}

#hidden {
  display: inline-block;

}