
body {
  margin: 4% 20% 4% 20%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  margin: 1% 0% 1% 0%;
  background: lightcyan;
}

.button {
  display: block;
  margin: 0 auto;
}

#userList {
  display: block;
  margin-top: 2%;
}

#characterFrequency {
  width: 35%;
  margin: 0 auto;
  margin-top: 2%;
}

.hidden {
  visibility: hidden;
}